@using SIEL_1836109025062022.Models.ViewModel
@model IEnumerable<StudentSchoolarInformation>
@{
    ViewData["Title"] = "Estudiantes";
    var id  = ViewData["id"]; 
}



        <div class="page-heading">
            <h3>Alumnos</h3>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="row match-height">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Lista de estudiantes</h4>
                                <a class="btn btn-primary" asp-controller="Classes" asp-action="PrintStudentsList" asp-route-id="18">Imprimir lista</a>
                                <div>
                                    <a class="btn btn-primary" asp-controller="Classes" asp-action="CreateClass" asp-route-id="@id" >Crear clases</a>
                                    <a class="btn btn-primary" id="api" >Crear clases</a>
                                </div>
                            </div>

                            <div col-md-6 col-sm-12>
                                <div class="card-body">
                                    <table class="table" id="table1">
                                        <thead>
                                            <tr>
                                                <th>No. de control</th>
                                                <th>Nombre(s)</th>
                                                <th>Apelido(s)</th>
                                                <th>Telefono</th>
                                                <th>Clase</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>@item.stdt_control_number</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_name</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_surname</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_phone_1</label>
                                                    </td>
                                                    <td>
                                                    @if (@item.stdt_id_class !=0){ <label>@item.group_name</label>}else{<label>Sin clase</label>}
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               @section Scripts{
                                <partial name = "_ValidationScriptsPartial"/>

               }
        </section>
     
