@model InscriptionViewModel
@{
    ViewData["Title"] = "Inscripción al curso";
}

        <div class="page-heading">
            <h3>Inscripción al Curso</h3>
        </div>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-12 order-md-1 order-last">
                        <p class="text-subtitle text-muted">Selecione los campos solicitados a continuación para
                            su registro en el periodo escolar Julio-Diddddciembre 2022.
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section id="multiple-column-form">

                <div class="row match-height">
                    <div class="col-md-7 col-sm-12">
                        <div class="card sombra">
                            <div class="card-header">
                                <h4 class="card-title">Selección de Horario y Modalidad</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    
                                    <form class="form" asp-action="MakeInscription" asp-controller="Student">
                                        <input type="text" readonly value="@Model.insc_id_student" asp-for="insc_id_student"/>
                                        <div class="row">
                                            <div class="col-sm-11 mb-1">
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="col-lg-3 col-3">
                                                        <label class="col-form-label">Modalidad</label>
                                                    </div>
                                                    <div class="col-md-9 form-group">
                                                        <select class="form-select" asp-for="insc_id_modality">
                                                            @foreach (var item in Model.Modalities)
                                                            {
                                                                <option value="@item.id_modality">@item.modality_name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="col-lg-3 col-3">
                                                        <label class="col-form-label">Horario</label>
                                                    </div>
                                                    <div class="col-md-9 form-group">
                                                        <select class="form-select" asp-for="insc_id_schedule">
                                                            @foreach (var item in Model.Schedules)
                                                            {
                                                                <option value="@item.id_schedule">@item.schedule_name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="col-lg-3 col-md-3">
                                                        <label class="col-form-label">Comprobante de pago</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9">
                                                        <input type="file" class="basic-filepond">
                                                    </div>
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="col-lg-3 col-md-3">
                                                        <label  class="col-form-label">Comprobante de pago</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9">
                                                        <input type="file" class="multiple-filepond">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12 text-end">
                                                    <button type="submit" class="btn btn-outline-success">
                                                        Inscribirme
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-6 col-sm-12 sombra">
                        <div class="card">
                            <div class="card-content">
                                <center>
                                    <div class="card-body">

                                        <h5 class="card-title">Datos del Curso Próximo a Inscripción</h5><br>

                                        <div class="badges">
                                            <h5><span class="badge bg-success">Nivel: Basico 4</span></h5>
                                        </div><br>
                                        <div class="badges">
                                            <h5><span class="badge bg-warning">Programa: Regular</span></h5>
                                        </div><br>
                                        <div class="badges">
                                            <h5><span class="badge bg-danger">Inicio de Clases:</span>
                                            </h5>
                                        </div>
                                        <div class="badges">
                                            <h5><span class="badge bg-danger">29 de Agosto, 2022</span>
                                            </h5>
                                        </div>

                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>


        </section>

        