@using SIEL_1836109025062022.Models.ViewModel
@model IEnumerable<StudentList>
@{
    ViewData["Title"] = "Estudiantes";
    var id  = ViewData["id"]; 
}



        <div class="page-heading">
            <h3>Alumnos</h3>
        </div>
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="row match-height">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Lista de estudiantes</h4>
                                <div>
                                    <a class="btn btn-primary" asp-controller="Classes" asp-action="CreateClass" asp-route-id="@id" >Crear clases</a>
                                    <a class="btn btn-primary" id="api" >Crear clases</a>
                                </div>
                            </div>

                            <div col-md-6 col-sm-12>
                                <div class="card-body">
                                    <table class="table" id="table1">
                                        <thead>
                                            <tr>
                                                <th>No. de control</th>
                                                <th>Nombre(s)</th>
                                                <th>Apelido(s)</th>
                                                <th>Telefono</th>
                                                <th>Clase</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>@item.stdt_control_number</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_name</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_surname</label>
                                                    </td>
                                                    <td>
                                                        <label>@item.user_phone_1</label>
                                                    </td>
                                                    <td>
                                                    @if (@item.stdt_id_class !=0){ <label>@item.group_name</label>}else{<label>Sin clase</label>}
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               @section Scripts{
                                <partial name = "_ValidationScriptsPartial"/>

                                <script>

                                    const data = {"institutionId": "5235225",
                                    "studentUserName": "testing",
                                    "studentFirstName": "testing",
                                    "studentLastName": "testing",
                                    "studentPassword": "12345",
                                    "studentEmail": "testing@aaa.com",
                                    "classId": "552250012"}


                                    $(function(){
                                        $("#api").click(async function(){
                                            console.log("Hola");
                                           
                                            var myHeaders = new Headers();
                                            myHeaders.append("token", "EE7F349F-0F87-4A79-8607-04998F649C7B");
                                            myHeaders.append("Content-Type", "application/json");

                                            var raw =JSON.stringify({
                                                          "institutionId": '5235225',
                                                          "studentUserName": 'test001',
                                                          "studentFirstName": 'Student',
                                                          "studentLastName": 'Test',
                                                          "studentPassword": '12345',
                                                          "studentEmail": 'student@test.com',
                                                          "classId": '552250012'
                                                        });

                                            var requestOptions = {
                                              method: 'POST',
                                              headers: myHeaders,
                                              body: raw,
                                              redirect: 'follow'
                                            };

                                            fetch("https://edapi.engdis.com/WebApi/External/InsertUser", requestOptions)
                                              .then(response => response.text())
                                              .then(result => console.log(result))
                                              .catch(error => console.log('error', error));
                                        });
                                    });
                                </script>
                            }
        </section>
     
