@model IEnumerable<Schedule>
@{
    ViewData["Title"] = "Horarios de la modalidad";
      var id_modality  = ViewData["id_modality"].ToString();        
      var modality_name = ViewData["modality_name"].ToString();  
}

    <!-- Basic Tables start -->
    <section class="section">
        <div class="row justify-content-center" id="basic-table">
            <div class="col-12 col-md-12">
                <div class="card sombra">
                    <div class="card-header">
                        <div class="row">
                        <h4 class="card-title d-inline col-md-8 ">Horarios de la modalidad @modality_name</h4>
                        <div class="col-md-4">
                        </div>    
                    </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p class="card-text">Listado de horarios de clase registrados en la institución
                            </p>
                            <!-- Table with outer spacing -->
                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>Nombre programa</th>
                                            <th>Descripción</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reordenable">
                                        @foreach (var schedule in Model)
                                        {
                                            <tr>
                                                <td class="text-bold-500 col-md-2">@schedule.schedule_name</td>
                                                <td class="text-bold-500 col-md-7">@schedule.schedule_description</td>
                                                <td class=" col-md-3"> 
                                                    <a class="btn btn-success sombra-1" asp-action="EditSchedule" asp-controller="Schedule" asp-route-id="@schedule.id_schedule">Editar</a>
                                                    <a class="btn btn-danger sombra-1" asp-action="DeleteScheduleConfirmation" asp-controller="Schedule" asp-route-id="@schedule.id_schedule">Eliminar</a>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>

                                @section Scripts{
                                    <script>
                                        $(function(){
                                            $("#reordenable").sortable();
                                        })
                                    </script>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Tables end -->
