@using SIEL_1836109025062022.Models.ViewModel
@model IEnumerable<ListsScheduleViewModel>
@{
    ViewData["Title"] = "Listas de estudiantes";
}

<section class="section">
    <div class="row justify-content-center" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline">Modalidades y horarios asignadas al nivel</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">
                            Consulta aquí las listas de alumnos con pagos autorizados.

                        </p>
                        <div class="accordion acordeon-levels center justify-content-center">

                            @foreach (var modality in Model)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="header-one">
                                        @{
                                            var id = modality.modality.Replace(" ", "");
                                            var dataBSTarget = "#" + id;

                                        }
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="@dataBSTarget">
                                            <span class="me-3">
                                                <span><strong>@modality.modality</strong></span>
                                                <span class="text-primary"> @modality.summary horario(s)</span>
                                            </span>
                                        </button>
                                    </h2>

                                    <div id="@id" class="accordion-collapse collapse show">
                                        <div>
                                            <ul class="list-group">
                                                @foreach (var item in modality.schedules)
                                                {
                                                    <li class="list-group-item align-content-md-between">
                                                        <span><strong>Horario @item.schedule_name - @item.schedule_description</strong></span>
                                                        <div class="d-inline float-sm-end float-md-end">
                                                            <a class="btn btn-primary" asp-action="ListsStudentsSchedule"
                                                       asp-controller="Lists" asp-route-id="@item.id_schedule">Ver estudiantes <i class="bi bi-people-fill"></i></a>

                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
