@model IEnumerable<IndexLevelsViewModel>
@{
    ViewData["Title"] = "Modalidades";
}

<section class="section">
    <div class="row justify-content-center" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline">Modalidades</h4>
                    <a class="btn btn-info float-end mr-5" asp-action="CreateModality" asp-controller="Modality"
                    title="Crear modalidad" data-bs-toggle="msg">Crear nueva modalidad</a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text fst-italic">
                            Las modalidades están agrupadas por Programa de Estudios y a su vez por Niveles,
                            puede asignar una modalidad a cada nivel deseado para tener un control adecuado de
                            los procesos de reinscripción.
                        </p>
                        <div class="accordion acordeon-levels center justify-content-center">

                            @foreach (var programa in Model)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="header-one">
                                        @{
                                            var id = programa.program.Replace(" ", "");
                                            var dataBSTarget = "#" + id;

                                        }
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="@dataBSTarget">
                                            <span class="me-3">
                                                <span><strong>@programa.program</strong></span>
                                                <span class="text-primary"> @programa.summary niveles</span>
                                            </span>
                                        </button>
                                    </h2>

                                    <div id="@id" class="accordion-collapse collapse">
                                        <div>
                                            <ul class="list-group">
                                                @foreach (var item in programa.levels)
                                                {
                                                    <li class="list-group-item align-content-md-between">
                                                        <span><strong>@item.level_name</strong></span>
                                                        <div class="d-inline float-sm-end float-md-end">
                                                            <a class="btn btn-sm btn-info" asp-action="EditLevel"
                                                       asp-controller="Levels" asp-route-id="@item.id_level"
                                                            title="Ver modalidad" data-bs-toggle="msg">Ver Modalidades <i class="bi bi-eye-slash-fill"></i></a>

                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="msg"]'))
    var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>



@*@model IEnumerable<Modality>
@{
    ViewData["Title"] = "Modalidades";
}


<section class="section">
    <div class="row justify-content-center" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card sombra">
                <div class="card-header ">
                    <h4 class="card-title d-inline">Modalidades de curso</h4>
                    <a class="btn btn-info float-end mr-5 sombra-1" asp-action="CreateModality"
                       asp-controller="Modality" title="Crear nueva Modalidad" data-bs-toggle="msg">Crear modalidad de estudios</a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">
                            Listado de programas de estudio registrados en la institución
                        </p>
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Nombre programa</th>
                                        <th>Descripción</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="reordenable">
                                    @foreach (var modality in Model)
                                    {
                                        <tr>
                                            <td class="text-bold-500 col-md-2">@modality.modality_name</td>
                                            <td class="text-bold-500 col-md-7">@modality.modality_description</td>
                                            <td class=" col-md-3">
                                                <a class="btn btn-success sombra-1" asp-action="EditCourseProgram" asp-controller="CourseProgram"
                                               asp-route-id="@modality.id_modality" title="Editar" data-bs-toggle="msg">Editar</a>
                                                <a class="btn btn-danger sombra" asp-action="DeleteCourseProgramConfirmation" asp-controller="CourseProgram"
                                               asp-route-id="@modality.id_modality" title="Eliminar" data-bs-toggle="msg">Eliminar</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            @section Scripts{
                                <script>
                                    $(function() {
                                        $("#reordenable").sortable();
                                    })
                                </script>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="msg"]'))
        var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
*@