@model IEnumerable<Modality>
@{
    ViewData["Title"] = "Modalidades del nivel";
    var level_name = ViewData["level_name"].ToString();   
    var id_level = ViewData["id_level"].ToString();   
}
    <!-- Basic Tables start -->
    <section class="section">
        <div class="row justify-content-center" id="basic-table">
            <div class="col-12 col-md-12">
                <div class="card sombra">
                    <div class="card-header">
                        <h4 class="card-title d-inline">Modalidades asignadas al nivel @level_name</h4>
                        <a class="btn btn-info float-end mr-5 sombra-1" asp-action="CreateModality" asp-route-id="@id_level" asp-controller="Modality">Crear modalidad para este nivel</a>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p class="card-text">Listado de programas de estudio registrados en la institución
                            </p>
                            <!-- Table with outer spacing -->
                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>Nombre programa</th>
                                            <th>Descripción</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reordenable">
                                        @foreach (var program in Model)
                                        {
                                            <tr>
                                                <td class="text-bold-500 col-md-2">@program.modality_name</td>
                                                <td class="text-bold-500 col-md-6">@program.modality_description</td>
                                                <td class=" col-md-4"> 
                                                    <a class="btn btn-primary sombra-1" asp-action="ModalitySchedules" asp-controller="Schedule" asp-route-id="@program.id_modality"><i class="bi bi-clock-history"></i></a>
                                                    <a class="btn btn-success sombra-1" asp-action="EditModality" asp-controller="Modality" asp-route-id="@program.id_modality"><i class="bi bi-pencil-fill"></i></a>
                                                    <a class="btn btn-danger sombra-1" asp-action="DeleteModalityConfirmation" asp-controller="Modality" asp-route-id="@program.id_modality"><i class="bi bi-trash-fill"></i></a>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>

                                @section Scripts{
                                    <script>
                                        $(function(){
                                            $("#reordenable").sortable();
                                        })
                                    </script>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
